.container{
    margin-top:30px;
    border: 2px solid rgb(105, 105, 105);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border-radius:10px        ;
    -webkit-border-radius:10px        ;
    -moz-border-radius:10px        ;
    -ms-border-radius:10px        ;
    -o-border-radius:10px        ;
}
.imgg{
    height:80px;
    width:80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
}
img{
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.divone{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    margin-left: 20px;
}